body {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
}

div {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

p {
    margin: 5px auto;
    width: 980px; /* Considere usar 'max-width' para maior responsividade */
    text-align: justify;
    font-size: 18px;
}

.div-color {
    background-color: #afddfb;
    margin: 30px;
}

.div-color-servico {
    background-color: #1d80c1;
}

.img-logo {
    width: 150px;
}

.link-logo {
    padding: 5px;
    text-align: center;
    color: #1d1d1d;
    text-decoration: none;
    width: 100%; /* Ajustado para que o link tenha uma largura adequada */
    display: inline-block; /* Necessário para que a largura funcione corretamente */
}

.banner {
    margin-top: 50px;
    padding: 0;
}

.span-amarelo {
    font-weight: bold;
    color: #fff81b;
}

.span-azul {
    font-weight: bold;
    color: #1c81c0;
}

h1 {
    color: #1d1d1d;
    padding-top: 5px;
}

.subtitulo {
    color: #1c81c0;
    padding-top: 0;
    font-weight: normal;
}

.subtitulo-servico {
    color: #ffffff;
    padding-top: 0;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
}

.paragrafo-servico {
    color: #ffffff;
    font-size: 22px;
    line-height: 42px;
    text-align: center;
    width: 700px;
    margin: 0 auto; /* Centralizado para melhor visualização */
}

.img-assinatura {
    width: 450px;
}

ul {
    margin: 40px auto;
    width: 135px;
}

li {
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

.paragrafo-contato {
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 15px;
    margin: 30px auto; /* Correção na propriedade de margem */
    text-align: center;
}

.link-lista {
    text-decoration: none;
}

ol {
    margin: 40px auto;
    font-size: 18px;
    width: 300px;
}

.lista-escritorio {
    background-color: #ffffff;
    color: #1c81c0;
    padding: 2px 5px;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
}

